@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --primary-1: hsl(257, 40%, 49%);
  --primary-2: hsl(300, 69%, 71%);
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

/* typography */

main {
  color: white;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.4em;
}

@media screen and (min-width: 940px) {
  .title {
    font-size: 2.25rem;
  }
}

.info-body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
  margin: 1.5em 0;
}

/* layout */

body {
  background-image: url(/images/bg-mobile.svg);
  background-color: var(--primary-1);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}

main {
  max-width: 500px;
  padding: 1.8em;
  margin: auto;
}

.site-logo {
  width: 40%;
}

.mockups {
  padding: 3rem 0;
}

.info-div {
  text-align: center;
}

.title {
  max-width: 17ch;
  margin: auto;
}

.social-icon-list {
  list-style: none;
  padding: 0;
  margin-top: 4em;
  display: flex;
  gap: .75em;
  justify-content: center;
}

.social-icon-list-item {
  border: 1px solid white;
  color: white;
  padding: 7px;
  border-radius: 50%;
  font-size: 1.25rem;
  transition: all 100ms ease-in-out;
}

.social-icon-list-item:hover {
  color: var(--primary-2);
  border: 1px solid var(--primary-2);
  transition: all 100ms ease-in-out;
}

@media screen and (min-width: 940px) {
  body {
    background-image: url(/images/bg-desktop.svg);
    background-size: auto 714px;
  }
  main {
    max-width: 90%;
  }

  .flexbox {
    display: flex;
    gap: 2.6em;
  }

  .flex-left {
    width: 60%;
  }

  .flex-right {
    width: 40%;
    align-self: center;
  }

  .site-logo {
    width: 25%;
  }

  .mockups {
    padding-bottom: 0;
  }

  .info-div {
    text-align: left;
  }

  .title {
    margin: 0;
  }

  .social-icon-list {
    margin-top: 0;
    justify-content: flex-end;
  }
}

/* components */

button {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-1);
  font-size: .875rem;
  border: none;
  border-radius: 40px;
  padding: .8em 0;
  width: 200px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, .3);
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

button a {
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

button:hover {
  background-color: var(--primary-2);
  color: white;
}

/* footer */

.attribution { 
  font-size: 11px; 
  text-align: center; 
  background-color: white; 
  border-radius: 30px; 
  max-width: 300px;
  padding: 1em;
  margin: 1em auto;
}  

  .attribution a { 
    color: hsl(228, 45%, 44%); 
  }
